.middleBlock {
    width: 50%;
    height:100%;
    margin:0;
    border:0;
    padding:0;
    display: inline-block;
}


ul{
    list-style-type: none;
}


li {
    float: left;
    background-color: #c5d5c5;
    margin-right: 50px;
    width: 20%;
    height: 40px;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    border: 5px solid #000000;
}

.lastListItem{
    margin-right: 0px;
}

a {
    font-weight: 800;
}

a:hover{
    color: #9ba79b;
}
  