

:root {
    --content-width: 1200px;
}

.middleBlock {
    width: var(--content-width);
    height:100%;
    position: relative;
    left: calc(50% - var(--content-width)/2);
    border:0;
    padding:0;
    display: inline-block;
}


ul{
    list-style-type: none;
    height:100%
}


.nav {
    float: left;
    background-color: #c5d5c5;
    margin-right: calc(6% - 6px);
    width: 20%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 5px solid #000000;
}

.lastListItem{
    margin-right: 0px;
    margin-left: 2px;
}

.wideContainer {
    display: block;
    height: 50px;
    width: var(--content-width);
}

.midContainer {
    position: absolute;
    left:50%;
    top:50%;
    height: 240px;
    width: 360px;
    margin-top: -120px;
    margin-left: -180px
}

.imageWideBar{
    width: var(--content-width);
    height: calc(40px + 10px);
    background-color:#9ba79b;
}

a {
    font-weight: 800;
}

a:hover{
    color: #9ba79b;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;

}
  

@media (max-width: 1200px){
    :root {
        --content-width: 600px;
    }
    .nav {
        margin-right: calc(6% - 10px);
    }

    .lastListItem{
        margin-right: 0px;
    }

}