ul{
    margin-right:auto;
    margin-left: auto;
}

li {
    display: inline-block;
    border: 5px;
    margin: 1px;
    border-color: rgb(36, 36, 36);
    background-color: rgb(212, 0, 60);
    width: 8%;
    height: 30px;
    padding: 1px;
    text-align: center;
    font-size: 20px;
}



a:link{
    color: rgb(36,36,36);
}

a:visited{
    color: rgb(100,100,100)

}